body {
  background-color: #ABD00D;
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  overflow-y: hidden; }

.navbar {
  background-color: transparent;
  border: 0;
  height: auto;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    font-size: 32px;
    padding: 26px 20px;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    color: rgba(255, 255, 255, 0.4); }
    .navbar .navbar-brand.overlay-hide {
      color: #ABD00D;
      z-index: 320;
      display: none; }
      .navbar .navbar-brand.overlay-hide:hover, .navbar .navbar-brand.overlay-hide:focus {
        color: #ABD00D; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #FFFFFF; }
  .navbar .navbar-nav > li > a {
    color: #FFFFFF;
    padding: 30px 20px;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    color: rgba(255, 255, 255, 0.4); }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      color: #FFFFFF; }

.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  .section-inner {
    position: relative;
    display: block;
    text-align: center; }
  .section-two {
    background-color: #9fc20c; }
  .section-three {
    background-color: #93b30b; }
  .section-four {
    background-color: #87a50a; }
  .section-five {
    background-color: #7c9609; }
  .section:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 110px;
    opacity: .1; }
  .section:after {
    content: attr(data-sub-text);
    position: absolute;
    top: 10%;
    right: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    opacity: .1; }
  .section .btn {
    margin-top: 20px;
    animation-delay: 1s; }

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: inherit;
  letter-spacing: 10px;
  animation-delay: .2s; }
  .title-sub {
    font-family: inherit;
    font-size: 16px;
    opacity: .4;
    margin-top: 10px;
    animation-delay: .6s; }

.btn {
  padding: 18px 40px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  line-height: normal; }

.navigator {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block; }
  .navigator-up, .navigator-down {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    display: block;
    position: relative; }

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #FFFFFF;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all 0.4s ease-in-out; }
  .overlay-active {
    z-index: 300;
    opacity: 1; }
  .overlay-inner {
    position: relative;
    display: block;
    text-align: center; }
  .overlay .nav-pill li a {
    animation-delay: 2s; }
    .overlay .nav-pill li a:nth(1) {
      animation-delay: 2.5s; }
    .overlay .nav-pill li a:nth(2) {
      animation-delay: 3s; }
    .overlay .nav-pill li a:nth(3) {
      animation-delay: 3.5s; }
    .overlay .nav-pill li a:nth(4) {
      animation-delay: 4s; }
    .overlay .nav-pill li a:nth(5) {
      animation-delay: 5.5s; }
    .overlay .nav-pill li a:nth(6) {
      animation-delay: 5s; }

/*# sourceMappingURL=style.css.map */
