body {
  background-color: #3498db;
  font-family: 'Quicksand', sans-serif;
  color: #FFFFFF;
  overflow-y: hidden; }

.navbar {
  background-color: transparent;
  border: 0;
  height: auto;
  margin-bottom: 0; }
  .navbar .navbar-brand {
    font-size: 32px;
    padding: 26px 20px;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    color: rgba(255, 255, 255, 0.4);
    cursor: pointer; }
    .navbar .navbar-brand.overlay-hide {
      color: #3498db;
      z-index: 320;
      display: none; }
      .navbar .navbar-brand.overlay-hide:hover, .navbar .navbar-brand.overlay-hide:focus {
        color: #3498db; }
    .navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
      color: #FFFFFF; }
  .navbar .navbar-nav > li > a {
    color: #FFFFFF;
    padding: 30px 20px;
    font-size: 16px;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
    line-height: normal;
    color: rgba(255, 255, 255, 0.4); }
    .navbar .navbar-nav > li > a:hover, .navbar .navbar-nav > li > a:focus {
      color: #FFFFFF; }

.section {
  max-width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; }
  @media (max-width: 480px) {
    .section {
      padding: 15px; } }
  .section-inner {
    position: relative;
    display: block;
    text-align: center;
    max-width: 80%; }
    @media (max-width: 768px) {
      .section-inner {
        max-width: 100%; } }
  .section-two {
    background-color: #2b94d9; }
  .section-three {
    background-color: #268fd5; }
  .section-four {
    background-color: #2489cc; }
  .section-five {
    background-color: #2383c4; }
  .section:before {
    content: attr(data-text);
    position: absolute;
    bottom: 0;
    left: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 110px;
    opacity: .1; }
    @media (max-width: 768px) {
      .section:before {
        content: ''; } }
  .section:after {
    content: attr(data-sub-text);
    position: absolute;
    top: 10%;
    right: 5%;
    font-family: 'Oswald', sans-serif;
    font-size: 80px;
    opacity: .1; }
    @media (max-width: 768px) {
      .section:after {
        content: ''; } }
  .section .btn {
    margin-top: 20px;
    animation-delay: 1s;
    line-height: normal; }
    .section .btn:hover {
      background-color: #FFFFFF;
      border-color: transparent;
      color: #3498db; }

.title {
  font-family: 'Oswald', sans-serif;
  font-size: 48px;
  color: inherit;
  letter-spacing: 10px;
  animation-delay: .2s;
  text-transform: uppercase; }
  .title-sub {
    font-family: inherit;
    font-size: 16px;
    opacity: .4;
    margin-top: 10px;
    animation-delay: .6s; }
  @media (max-width: 480px) {
    .title {
      font-size: 24px;
      letter-spacing: normal; } }

.btn {
  padding: 18px 40px;
  font-size: 16px;
  border-radius: 30px;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: #FFFFFF;
  line-height: normal; }

.navigator {
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: block; }
  .navigator-up, .navigator-down {
    text-decoration: none;
    color: inherit;
    font-size: 24px;
    display: block;
    position: relative; }
    @media (max-width: 768px) {
      .navigator-up, .navigator-down {
        width: 50%;
        float: left;
        background-color: #fff;
        padding: 8px;
        text-align: center;
        color: #abd00e; } }
  @media (max-width: 768px) {
    .navigator {
      width: 100%;
      left: 0;
      bottom: 0;
      display: inline-block;
      right: auto;
      top: auto; } }

.overlay {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: #FFFFFF;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.4s ease-in-out; }
  .overlay-active {
    z-index: 300;
    opacity: 1; }
  .overlay-inner {
    position: relative;
    display: block;
    text-align: center; }
    .overlay-inner .title {
      color: #3498db;
      margin-bottom: 40px; }
  .overlay .overlay-inner .nav-pill li a {
    font-size: 24px;
    color: rgba(52, 152, 219, 0.6);
    padding: 14px 0; }
    .overlay .overlay-inner .nav-pill li a:hover, .overlay .overlay-inner .nav-pill li a:focus {
      background-color: transparent;
      color: #3498db; }

.modal.modal-fullscreen .modal-dialog {
  width: 95vw;
  margin: 0;
  margin-left: 5vw;
  min-height: 100vh; }
  .modal.modal-fullscreen .modal-dialog .modal-content {
    border-radius: 0;
    border: 0;
    box-shadow: none;
    min-height: 100vh;
    color: #525252;
    position: relative; }
  .modal.modal-fullscreen .modal-dialog .modal-header {
    border: 0; }
  .modal.modal-fullscreen .modal-dialog .modal-body {
    padding: 100px;
    min-height: calc(100vh - 110px); }
    .modal.modal-fullscreen .modal-dialog .modal-body:before {
      content: 'Close';
      position: absolute;
      bottom: 20px;
      left: 20px; }
    .modal.modal-fullscreen .modal-dialog .modal-body:after {
      content: '';
      background-image: url(../img/photo.jpg);
      position: absolute;
      width: 100px;
      height: 100px;
      bottom: 40px;
      right: 60px; }
  .modal.modal-fullscreen .modal-dialog .title {
    font-family: 'Quicksand', sans-serif;
    font-size: 36px;
    margin-bottom: 20px; }

.modal-backdrop {
  background-color: #3498db; }
  .modal-backdrop.in {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
