// Color
$background: #ABD00D;

// General
body {
	background-color: $background;
	font-family: 'Quicksand', sans-serif;
	color: #FFFFFF;
	overflow-y: hidden;
}

// Navbar
.navbar {
	background-color: transparent;
	border: 0;
	height: auto;
	margin-bottom: 0;

	.navbar-brand {
		font-size: 32px;
		padding: 26px 20px;
		transition: all 0.3s ease-in-out;
		line-height: normal;
		color: transparentize(#FFFFFF, 0.6);
		cursor: pointer;
		
		&.overlay-hide {
			color: $background;
			z-index: 320;
			display: none;

			&:hover,
			&:focus {
				color: $background;
			}
		}
		&:hover,
		&:focus {
			color: #FFFFFF;
		}
	}
	.navbar-nav > li > a {
		color: #FFFFFF;
		padding: 30px 20px;
		font-size: 16px;
		text-transform: capitalize;
		transition: all 0.3s ease-in-out;
		line-height: normal;
		color: transparentize(#FFFFFF, 0.6);

		&:hover,
		&:focus {
			color: #FFFFFF;
		}
	}
}

.section {
	max-width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;

	@media (max-width: 480px) {
		padding: 15px;
	}
	&-inner {
		position: relative;
		display: block;
		text-align: center;
		max-width: 80%;

		@media (max-width: 768px) {
			max-width: 100%;
		}
	}
	&-two {
		background-color: darken($background, 3%);
	}
	&-three {
		background-color: darken($background, 6%);
	}
	&-four {
		background-color: darken($background, 9%);
	}
	&-five {
		background-color: darken($background, 12%);
	}
	&:before {
		content: attr(data-text);
		position: absolute;
		bottom: 0;
		left: 5%;
		font-family: 'Oswald', sans-serif;
		font-size: 110px;
		opacity: .1;

		@media (max-width: 768px) {
			content: '';
		}
	}
	&:after {
		content: attr(data-sub-text);
		position: absolute;
		top: 10%;
		right: 5%;
		font-family: 'Oswald', sans-serif;
		font-size: 80px;
		opacity: .1;

		@media (max-width: 768px) {
			content: '';
		}
	}
	.btn {
		margin-top: 20px;
		animation-delay: 1s;
		line-height: normal;

		&:hover {
			background-color: #FFFFFF;
			border-color: transparent;
			color: $background;
		}
	}
}

.title {
	font-family: 'Oswald', sans-serif;
	font-size: 48px;
	color: inherit;
	letter-spacing: 10px;
	animation-delay: .2s;
	text-transform: uppercase;

	&-sub {
		font-family: inherit;
		font-size: 16px;
		opacity: .4;
		margin-top: 10px;
		animation-delay: .6s;
	}
	@media (max-width: 480px) {
		font-size: 24px;
		letter-spacing: normal;
	}
}

.btn {
	padding: 18px 40px;
	font-size: 16px;
	border-radius: 30px;
	border: 1px solid #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: normal;
}

.navigator {
	position: fixed;
	right: 20px;
	bottom: 20px;
	display: block;

	&-up,
	&-down {
		text-decoration: none;
		color: inherit;
		font-size: 24px;
		display: block;
		position: relative;

		@media (max-width: 768px) {
		    width: 50%;
		    float: left;
		    background-color: #fff;
		    padding: 8px;
		    text-align: center;
		    color: #abd00e;
		}
	}

	@media (max-width: 768px) {
		width: 100%;
		left: 0;
		bottom: 0;
		display: inline-block;
		right: auto;
		top: auto;
	}
}

.overlay {
	width: 100%;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #FFFFFF;
	opacity: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.4s ease-in-out;

	&-active {
		z-index: 300;
		opacity: 1;
	}

	&-inner {
		position: relative;
		display: block;
		text-align: center;

		.title {
			color: $background;
			margin-bottom: 40px;
		}
	}
	.overlay-inner .nav-pill li a {
		font-size: 24px;
		color: transparentize($background, 0.4);
		padding: 14px 0;

		&:hover,
		&:focus {
			background-color: transparent;
			color: $background;
		}
	}
}

.modal.modal-fullscreen {
	.modal-dialog {
		width: 95vw;
		margin: 0;
		margin-left: 5vw;
		min-height: 100vh;

		.modal-content {
			border-radius: 0;
			border: 0;
			box-shadow: none;
			min-height: 100vh;
			color: #525252;
			position: relative;
		}
		.modal-header {
			border: 0;
		}
		.modal-body {
			padding: 100px;
			min-height: calc(100vh - 110px);

			&:before {
				content: 'Close';
				position: absolute;
				bottom: 20px;
				left: 20px;
			}
			&:after {
				content: '';
				background-image: url(../img/photo.jpg);
				position: absolute;
				width: 100px;
				height: 100px;
				bottom: 40px;
				right: 60px;
			}
		}
		.title {
			font-family: 'Quicksand', sans-serif;
			font-size: 36px;
			margin-bottom: 20px;
		}
	}
}
.modal-backdrop {
	background-color: $background;

	&.in {
		opacity: 1;
	}
}