@import 
	"color/flat.scss",
	"mixin/function.scss";

@font-face {
    font-family: 'Bebas';
    src: url('../fonts/bebasneue-webfont.woff2') format('woff2'),
         url('../fonts/bebasneue-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@keyframes Rotate {
	from {
		transform: rotateY(0deg);
	}
	to {
		transform: rotateY(360deg);
	}
}


body {
	font-family: 'Roboto';
}

.title {
	font-family: 'Bebas';
	font-size: 36px;
	line-height: 1;
	margin-bottom: 10px;

	&.hero {
		letter-spacing: 20px;
	}
}

@each $name, $color in $colors {
	.#{$name} {
		color: #{$color};
	}
}

.navbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	border: 0;
	z-index: 5;
	border-radius: 0;
	display: flex;
	justify-content: center;
	background-color: transparent;

	&:before {
		content: '';
		width: 600px;
		height: 1px;
		background-color: $white;
		bottom: -5px;
		@include centerAbs;
	}
	&:after {
		content: '';
		width: 20px;
		height: 20px;
		background-color: $white;
		border: 5px solid #3DC2B0;
		bottom: -15px;
		@include centerAbs;
		@include radius(50%);
	}
}

.navbar-default .navbar-nav,
.navbar-nav {
	li {
		a {
			color: $white;
			padding: 18px 30px;
		}
	}
}

section {
	height: auto;
	width: 100%;
	background-color: $white;
	text-align: center;
	padding: 80px;
	color: #626262;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;

	&.hero {
		background-color: #2AC9A6;
		background-image: url(../img/bg_hero.png);
		height: 650px;
		position: relative;
		color: $white;
		display: flex;
		align-items: center;
		justify-content: center;

		.love {
			@include centerAbs;
			@include radius(50%);
			@include transition(all .3s ease-in-out);
			@include box-shadow(0px 1px 3px 0px transparentize(#696969, 0.7));
			bottom: -28px;
			padding: 15px 20px;
			font-size: 22px;
			border: 0;
			background-color: #A8D75D;
			color: $white;
			z-index: 300;

			&:hover {
				background-color: $white;
				@include box-shadow(0px 3px 8px 0px transparentize(#696969, 0.7));
			}
			&:hover i {
				color: #A8D75D;
				animation: 1s Rotate linear infinite;
			}
		}
	}
	&.about {
		background-image: url(../img/bg_about.png);
		height: 650px;
		position: relative;

		.avatar {
			@include centerAbs;
			@include radius(50%);
			top: 50%;
			margin-top: -75px;
			width: 150px;
			height: 150px;
			background-color: $asbestos;
			z-index: 300;
			
			&:before,
			&:after {
				@include centerAbs;
				top: -180px;
				content: '';
				height: 150px;
				width: 1px;
				background-color: $asbestos;
			}
			&:after {
				top: 180px;
			}
			img {
				@include radius(50%);
				@include transition(all .3s ease-in-out);
				@include box-shadow(0px 1px 3px 0px transparentize(#696969, 0.7));
				width: 100%;
				height: auto;
				cursor: pointer;
				z-index: 300;
				&:hover {
					@include box-shadow(0px 3px 8px 0px transparentize(#696969, 0.7));
				}
			}
		}
		.box {
			&-left {
				width: 400px;
				float: right;
				margin-right: 100px;
				margin-top: 20%;
				text-align: right;
			}
			&-right {
				width: 400px;
				float: left;
				margin-left: 100px;
				margin-top: 45%;
				text-align: left;
			}
		}
		.btn {
			@include radius(20px);
			@include transition(all .3s ease-in-out);
			padding: 8px 24px;
			border: 0;
			text-align: center;

			&:hover {
				padding: 8px 32px;
			}
			&-info {
				background-color: $blues;				
				&:hover {
					background-color: darken($blues, 5%);
				}
			}
			&-danger {
				background-color: $reds;				
				&:hover {
					background-color: darken($reds, 5%);
				}
			}
		}
	}
	&.project {
		background-color: #72D9FF;
		background-image: url(../img/bg_projects.png);
		background-position: center bottom;
		color: $white;
		min-height: 600px;

		.masonry {
			width: 100%;
			column-count: 2;
			column-gap: 10px;

			&_box {
				@include radius(10px);
				break-inside: avoid;
				background-color: $white;
				padding: 5px;
				margin-bottom: 10px;
				display: flex;
				justify-content: center;
				align-items: center;
				position: relative;
				border: 0;
				cursor: pointer;
				min-height: 100px;
				font-size: 20px;
				color: #72D9FF;
				overflow: hidden;

				a {
					font-size: 28px;
					color: #72D9FF;
				}
				&:hover {
					&> .masonry_overlay {
						opacity: 1;
					}
					img {
						transform: scale(1.5);
					}
				}
				img {
					@include radius(5px);
					@include transition(all .3s ease-in-out);
					width: 100%;
					height: auto;
					z-index: 130;
				}
			}
			&_overlay {
				@include radius(10px);
				@include transition(all .3s ease-in-out);
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
				background-color: transparentize($white, 0.1);
				opacity: 0;
				color: transparentize($asbestos, 0.2);
				z-index: 135;

				a {
					font-size: 28px;
					color: #72D9FF;
					margin: 5px;
				}
			}
			&_block {
				display: block;
			}
		}

		.social {
			@include transition(all .3s ease-in-out);
			margin: 5px;
			display: inline;
			opacity: 0.8;
			text-decoration: none;

			img {
				width: 30px;
				height: auto;
			}
			&:hover {
				opacity: 1;
			}
		}
	}
	&.service {
		background-color: transparentize(#1FE5B9, 0);
		background-image: url(../img/bg_services.png);
		color: $white;
		min-height: 450px;

		.box {
			@include transition(all .3s ease-in-out);
			width: 100%;
			height: 300px;
			display: flex;
			align-items: center;
			justify-content: center;
			border: 1px solid $white;
			border-radius: 20px;
			margin-top: 20px;
			cursor: pointer;
			position: relative;

			&:hover {
				@include box-shadow(0px 5px 12px 3px transparentize(#252525, 0.8));
				background-color: #1FE5B9;

				&> .box_inner .btn {
					display: block;
				}
			}
			img {
				width: auto;
				height: 75px;
			}
			&_title {
				font-size: 20px;
				margin-top: 20px;
				margin-bottom: 20px;
				letter-spacing: 3px;
			}
			.btn {
				display: none;
				background-color: transparent;
				border-color: $white;
				text-transform: uppercase;

				&:hover {
					background-color: $white;
					color: #1FE5B9;
				}
			}
		}
	}
	&.contact {
		background-color: #FF7E72;
		background-image: url(../img/bg_contact.png);
		background-position: center bottom;
		color: $white;
		min-height: 300px;

		.social {
			@include transition(all .3s ease-in-out);
			margin: 30px;
			display: inline;
			opacity: 0.6;
			line-height: 6;
			text-decoration: none;
			text-align: center;

			&:hover {
				opacity: 1;
			}
		}
	}
}